{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" content="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" content="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
  <section id="content" class="body">
    <ol id="post-list">
      <header>
        <h2 class="entry-title">
          <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
             title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
             {% import 'translations.html' as translations with context %}
             {{ translations.translations_for(article) }}
      </header>
      <footer class="post-info">
        <abbr class="published" title="{{ article.date.isoformat() }}">
          {{ article.locale_date }}
        </abbr>
        {% if article.authors %}
            {% for author in article.authors %}
              <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
          {% endfor %}
        {% endif %}
      </footer><!-- /.post-info -->
      <div class="entry-content">
        {{ article.content }}
      </div><!-- /.entry-content -->
    </ol>
</section>
{% endblock %}
