<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='X-UA-Compatible' content="IE=9" />
    <title>{% block title %}Mathieu Leduc-Hamel{% endblock %}</title>
    <!-- Bootstrap Core CSS -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Custom Theme CSS -->
    <link href="/media/css/grayscale.css" rel="stylesheet">

    {% block head %}{% endblock %}
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="#page-top">
            <i class="fa fa-play-circle"></i>  <span class="light">Top</span>
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li class="page-scroll">
              <a href="/">Index</a>
            </li>
            <li class="page-scroll">
              <a href="/#about">About</a>
            </li>
            <li class="page-scroll">
              <a href="/#project">Projects</a>
            </li>
            <li class="page-scroll">
              <a href="/#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="header-img"></div>
    <section>
      <div class="intro-body">
        <div class="container-fluid">
          <div class="row">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </section>
</div>
</div>
<div id="footer" class="footer">
  <div class="container-fluid">
      <div class="row-fluid">
          <hr style="width: 50px;"/>
          <img style="float: right;" src="/media/img/djangopowered126x54.gif" />
          <div class="footertext">
              <div class="navigation">
                  <a href="/blog">Blog</a><br/>
                  <a href="#projects">Projects</a><br/>
                  <a href="#contact">Contact</a><br/>
              </div>
              Mathieu Leduc-Hamel
              (<a href="mailto:marrakis@gmail.com">marrakis@gmail.com</a>)<br/>
          </div>
          <a href="https://twitter.com/mlhamel" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @mlhamel</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
  </div>
</div>
{% block javascript %}
  <!-- Core JavaScript Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="/media/js/grayscale.js"></script>
{% endblock %}

{% block analytics %}
  <script src="https://www.google-analytics.com/urchin.js" type="text/javascript">
  </script>
  <script type="text/javascript">
    _uacct = "UA-574748-2";
    urchinTracker();
  </script>
{% endblock %}
</body>
</html>
