{% load i18n %}

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv='X-UA-Compatible' content="IE=9" />
  <title>{% block title %}Mathieu Leduc-Hamel{% endblock %}</title>
  <link rel="stylesheet" href="media/css/bootstrap.min.css" />
  <link rel="stylesheet" href="media/css/bootstrap-theme.css" />
</head>
<body>
  <div class="container">
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    <div class="footer"></div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row-fluid">
        <div class="footertext">
          {% trans "You can reach me by email" %}
          <a href="mailto:marrakis@gmail.com">marrakis@gmail.com</a>
        </div>
        <a href="https://twitter.com/mlhamel" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @mlhamel</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
  {% block javascript %}{% endblock %}
</body>
</html>
