{% load i18n %}

<h2>{% trans "Blog" %}</h2>
<article class="articlebox">
  <div class="articlebox-body">
    <h3 class="articlebox-body-title" style="text-align: center;">
      <a id="joining-shopify">Joining Shopify</a><br/>
      <time class="articlebox-date" datetime="June 1, 2015">
        <span class="articlebox-date-inner">
          <span>(2015/06/29)</span>
        </span>
      </time>
    </h3>
    <br/>
    <p style="text-align: center;">
      <a href="https://www.shopify.com/">
        <img src="media/img/shopify-logo.png" width="300px" />
      </a>
    </p>

    <p>
      There you go, today was my first day as a software developer at <a href="https://www.shopify.com/">Shopify</a>.
    </p>

    <p>After 3 years my friends at <a href="http://ajah.ca/">Ajah</a>, I decided it was time for me to experience new challenges, to discover a new kind of environment, joining a quite large team. I'm super excited by the months and the years ahead with my new colleagues and teammates from Montreal, Ottawa and Toronto.</p>

    <p>I'm already learning a lot and I've started to discover new languages like Go, tools like Docker, and platform like Ruby and Rails (yes yes !). I'm just starting to understand the complexity and the beauty of a platform that is dealing with such a large and crazy amount of transactions every day.</p>

    <p>
      For now I can't give you any details about the projects i'm working on but that's my plan
      to try to talk about it and to share what i'm going to learn !
    </p>

    <p>I'm slowly discovering what the web and the retail industry is becoming and will become in the next few years... and it is exciting :)</p>
  </div>
</article>
