{% load i18n %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Mathieu Leduc-Hamel{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Custom Theme CSS -->
    <link href="/media/css/grayscale.css" rel="stylesheet">

  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="#page-top">
            <i class="fa fa-play-circle"></i>  <span class="light">{% trans "Top" %}</span>
          </a>
        </div>

        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
              <li class="hidden">
                <a href="#page-top"></a>
              </li>
              <li class="page-scroll">
                <a href="/blog">{% trans "Blog" %}</a>
              </li>
              <li class="page-scroll">
                <a href="#project">{% trans "Projects" %}</a>
              </li>
              <li class="page-scroll">
                <a href="#contact">{% trans "Contact" %}</a>
              </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <section class="intro">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h1 class="brand-heading">Mathieu</h1>
              <h1 class="brand-heading">Leduc-Hamel</h1>
              <p class="intro-text">{% trans "Python Developer, Data Enthusiasm and Éternel rêveur avant tout" %}</p>
              <div class="page-scroll">
                <a href="#project" class="btn btn-circle">
                  <i class="fa fa-angle-double-down animated"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="project" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>{% trans "Projects" %}</h2>
          <p>
            {% trans "When i'm not concentrated on my mailbox or twitter i'm trying to code. Those are the different projects i've participated" %}
          </p>
          <ul class="list-inline banner-social-buttons">
            <li>
              <a href="http://montrealpython.org" title="Montréal-Python" class="btn btn-default btn-lg text-center">
                <img src="media/img/projects/mtlpy.png" width="200px"/>
              </a>
            </li>
            <li>
              <a href="https://us.pycon.org/2015/" title="PyCon 2014" class="btn btn-default btn-lg text-center">
                <img src="media/img/projects/pycon2014.png" width="200px"/>
              </a>
            </li>
            <li>
              <a href="http://www.agendadulibre.qc.ca/" title="Agenda du Libre du Québec"
                 class="btn btn-default btn-lg text-center">
                <img src="media/img/projects/agenda.png" width="200px"/>
              </a>
            </li>
            <li>
              <a href="velomtl.arrak.org" title="Bike Parking Map" class="btn btn-default btn-lg text-center">
                <img src="media/img/projects/velo.png" width="200px"/>
              </a>
            </li>
            <li>
              <a href="https://us.pycon.org/2015/" title="PyCon 2015" class="btn btn-default btn-lg text-center">
                <img src="media/img/projects/pycon2015.png" width="200px"/>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section id="contact" class="container content-section contact-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>{% trans "Contact Mathieu Leduc-Hamel" %}</h2>
          <p>
            {% blocktrans %}
              Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!
            {% endblocktrans %}
          </p>
          <p><a href="mailto:mathieu@montrealpython.org">mathieu@montrealpython.org</a></p>
          <ul class="list-inline banner-social-buttons">
            <li>
              <a href="https://twitter.com/mlhamel" class="btn btn-default btn-lg">
                <i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span>
              </a>
            </li>
            <li>
              <a href="https://github.com/mlhamel" class="btn btn-default btn-lg">
                <i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span>
              </a>
            </li>
            <li>
              <a href="https://plus.google.com/+mlhamel/posts" class="btn btn-default btn-lg">
                <i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <div id="footer" class="footer">
        <div class="container-fluid">
            <div class="row-fluid">
                <hr style="width: 50px;"/>
                <img style="float: right;" src="/media/img/djangopowered126x54.gif" />
                <div class="footertext">
                    <div class="navigation">
                        <a href="/blog">Blog</a><br/>
                        <a href="#projects">Projects</a><br/>
                        <a href="#contact">Contact</a><br/>
                    </div>
                    Mathieu Leduc-Hamel
                    (<a href="mailto:marrakis@gmail.com">marrakis@gmail.com</a>)<br/>
                </div>
                <a href="https://twitter.com/mlhamel" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @mlhamel</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
    </div>

    {% block javascript %}
      <!-- Core JavaScript Files -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

      <!-- Custom Theme JavaScript -->
      <script src="/media/js/grayscale.js"></script>
    {% endblock %}

    {% block analytics %}
      <script src="https://www.google-analytics.com/urchin.js" type="text/javascript">
      </script>
      <script type="text/javascript">
        _uacct = "UA-574748-2";
        urchinTracker();
      </script>
    {% endblock %}
  </body>
</html>
